{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Tech</title>
</head>

<body>   
    <header>
        <img src="{% static 'assets/logo.jpeg' %}" alt="A happy person using the computer" class="logo">
    </header>
    <main>
        <h1>Authentication using OAuth 2.0</h1>
        <div class="social-media">
            <div class="social-media-details">
                <a href="">
                    <img src="{% static 'assets/github.svg' %}" alt="Icon to make 
                    authentication using GitHub" class="social-media-iconpip install django-allauth">
                    <p>GitHub</p>
                </a>

            </div>
        </div>
    </main>
</body>
</html>